*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#000;
    font-family:'Poppins', sans-serif;
    color:white;
}

/* ===== CONTAINER ===== */

.container{
    display:flex;
    height:100vh;
}

/* ===== LADO ESQUERDO ===== */

.lado-esquerdo{
    width:35%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:40px 0;
}

.foto{
    width:100%;
    height:80vh;
    object-fit:cover;
}

.telefone{
    margin-top:20px;
}

.telefone img{
    width:250px;
}

/* ===== LADO DIREITO ===== */

.lado-direito{
    width:65%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end; /* joga tudo pro lado direito */
    padding-right:80px;
    gap:60px;
}

.logo{
    width:700px;
    max-width:100%;
}

.descricao{
    text-align:right;
    font-size:18px;
    line-height:1.6;
    color:#ccc;
    max-width:400px;
}